    .body1 div ul li #wrapper {
        width:450px;
        margin:0 auto;
        font-family:Verdana, sans-serif;
    }
	.body1 div ul li #wrapper {
        width:450px;
        margin:0 auto;
        font-family:Verdana, sans-serif;
    }
    .body1 div ul li legend {
        color:#2f889a;
        font-size:16px;
        padding:0 10px;
        background:white;
        -moz-border-radius:4px;
        /*box-shadow: 0 1px 5px rgba(47, 136, 154, 0.5);*/
        padding:5px 10px;
        text-transform:uppercase;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
    }
    .body1 div ul li fieldset {
        border-radius:4px;
        background: #fff; 
        background: -moz-linear-gradient(#fff, #f9fdff);
        background: -o-linear-gradient(#fff, #f9fdff);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f9fdff)); /
        background: -webkit-linear-gradient(#fff, #f9fdff);
        padding:20px;
        border-color:rgba(47, 136, 154, 1.0);
    }
    .body1 div ul li input,
    .body1 div ul li textarea {
        color: #373737;
        background: #fff;
        border: 1px solid #CCCCCC;
        color: #aaa;
        font-size: 14px;
        line-height: 1.2em;
        margin-bottom:15px;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    }
    .body1 div ul li input[type="text"],
    .body1 div ul li input[type="password"]{
        padding: 8px 6px;
        height: 35px;
        width:280px;
    }
    .body1 div ul li input[type="text"]:focus,
    .body1 div ul li input[type="password"]:focus {
        background:white;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        -webkit-transition-duration: 400ms;
        -webkit-transition-property: width, background;
        -webkit-transition-timing-function: ease;
        -moz-transition-duration: 400ms;
        -moz-transition-property: width, background;
        -moz-transition-timing-function: ease;
        -o-transition-duration: 400ms;
        -o-transition-property: width, background;
        -o-transition-timing-function: ease;
        width: 380px;
        
        border-color:#2f889a;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        opacity:0.6;
    }
    .body1 div ul li input[type="submit"]{
        background: #2f889a;
        border: none;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        text-transform:uppercase;
        color: white;
        cursor: pointer;
        font-size: 15px;
        margin: 5px 0;
        padding: 5px 40px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-border-radius:4px;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    }
    .body1 div ul li textarea {
        padding:3px;
        width:96%;
        height:100px;
    }
    .body1 div ul li textarea:focus {
        background:#ebf8fd;
        text-indent: 0;
        z-index: 1;
        color: #373737;
        opacity:0.6;
        box-shadow:0 0 5px rgba(4, 129, 177, 0.5);
        border-color:#ccc;
    }
    .body1 div ul li .small {
        line-height:14px;
        font-size:12px;
        color:#999898;
        margin-bottom:3px;
    }