@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
.hero video{float:center;position:relative;width:100%;height:80%;z-index:0;transition:1s opacity}
.hero { position:relative; }

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.columns{
	margin-left:20%;
	margin-top:20%;
	color:white;
}

.columns1{
	
	margin-left:40%;
	margin-top:20%;
	color:white;
}

.columns h1{
	font-size:4.5em;
	
}

.columns1 h1{
	font-size:4.5em;
	
}